:root {
  --background-light: #f4f4f4;
  --text-light: #333;
  --header-background-light: #ffffff;
  --border-light: #ddd;
  --box-background-light: #000000;
  --box-text-light: #ffffff;
  --transaction-background-light: #ffffff;
  --transaction-date-light: #bfbfbf;
  --date-background-light: #d1d1d1;
  --transaction-border-light: #ddd;
  --footer-background-light: #ffffff;
  --nav-button-light: #333;
  --key-background-light: #f0f0f0;
  --key-hover-light: #e0e0e0;
  --key-active-light: #000000;
  --modal-background-light: #fff;
  --modal-button-light: #000;
  --wallet-button-active-light: #000;
  --transaction-type-active-light: #000;
  --date-item-selected-light: #000;

  --background-dark: #121212;
  --text-dark: #ffffff;
  --header-background-dark: #1f1f1f;
  --border-dark: #333;
  --box-background-dark: #1e1e1e;
  --box-text-dark: #ffffff;
  --transaction-background-dark: #1e1e1e;
  --transaction-date-dark: #494949;
  --transaction-border-dark: #333;
  --footer-background-dark: #333333;
  --nav-button-dark: #ffffff;
  --key-background-dark: #333;
  --key-hover-dark: #444;
  --key-active-dark: #ffffff;
  --modal-background-dark: #1e1e1e;
  --modal-button-dark: #333;
  --wallet-button-active-dark: #333;
  --transaction-type-active-dark: #333;
  --date-item-selected-dark: #333;
}

/* Ogólne stylowanie aplikacji */
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--background-light);
  color: var(--text-light);
  transition: background-color 400ms ease;
}

.dark-mode {
  background-color: var(--background-dark);
  color: var(--text-dark);
}

.app {
  position: relative;
}

.app.blur:before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  z-index: 999;
  pointer-events: none;
}

/* Stylowanie nagłówka */
.app-header {
  background-color: var(--header-background-light);
  border-bottom: 1px solid var(--border-light);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.dark-mode .app-header {
  background-color: var(--header-background-dark);
  border-bottom: 1px solid var(--border-dark);
}

.header-center h1 {
  font-size: 1.2rem;
  font-weight: normal;
  margin: 0;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

/* Stylowanie sekcji balance */
.balance-box {
  background-color: var(--box-background-light);
  color: var(--box-text-light);
  border: 1px solid var(--border-light);
  flex-shrink: 0;
  padding: 10px;
  text-align: center;
  border-radius: 20px;
  font-size: 2rem;
  margin: 10px;
  transition: background-color 400ms ease;
}

.dark-mode .balance-box {
  background-color: var(--box-background-dark);
  color: var(--box-text-dark);
  border: 1px solid var(--border-dark);
}

.balance-section {
  text-align: center;
  margin: 20px 0;
}

#total-balance {
  font-size: 3rem;
  font-weight: bold;
  color: var(--box-text-light);
}

#balance-message {
  font-size: 1.2rem;
  font-weight: normal;
  color: var(--box-text-light);
}

/* Stylowanie listy transakcji */
.transaction-list,
.wallet-transaction-list {
  list-style-type: none;
  padding: 0;
}

.transaction-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid var(--border-light);
  background-color: var(--transaction-background-light);
  border-radius: 5px;
  margin-bottom: 10px;
  margin-left: 15px;
  margin-right: 15px;
  transition: background-color 400ms ease;
}

.dark-mode .transaction-item {
  background-color: var(--transaction-background-dark);
  border: 1px solid var(--transaction-border-dark);
}

.transaction-details {
  display: flex;
  align-items: center;
  gap: 20px;
}

.transaction-info {
  margin-left: 10px;
}

.transaction-amount {
  margin-left: auto;
  padding-right: 10px;
}

.transaction-list-container {
  flex-grow: 1;
  overflow-y: auto;
}

/* Stylowanie stopki */
.app-footer {
  background-color: var(--footer-background-light);
  border-top: 1px solid var(--border-light);
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  transition: background-color 400ms ease;
}

.dark-mode .app-footer {
  background-color: var(--footer-background-dark);
  border-top: 1px solid var(--border-dark);
}

.footer-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  font-size: 1.5rem;
  transition: transform 0.3s ease-in-out;
  color: var(--nav-button-light);
}

.dark-mode .nav-button {
  color: var(--nav-button-dark);
}

.nav-button.large {
  background-color: #000;
  color: #ffffff;
  padding: 15px;
  font-size: 2rem;
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

.nav-button:hover {
  transform: scale(1.5);
}

.nav-button.large:hover {
  transform: scale(1.1);
}
.theme-toggle {
  cursor: pointer;
  background-color: transparent;
  border: none;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease, color 0.3s ease;
}

ion-icon {
  font-size: 1.8rem;
  transition: opacity 0.5s ease, transform 0.5s ease;
  position: absolute;
  will-change: transform;
  color: var(--nav-button-light);
}

.dark-mode ion-icon {
  font-size: 1.8rem;
  transition: opacity 0.5s ease, transform 0.5s ease;
  position: absolute;
  will-change: transform;
  color: var(--nav-button-dark);
}

#sunny,
#moon {
  display: none;
}

.theme-toggle:hover {
  transform: scale(1.2);
  transition: transform 0.3s ease-in-out;
}

.light-mode .theme-toggle:hover #sunny {
  color: rgba(255, 223, 0, 1);
}

.dark-mode .theme-toggle:hover #moon {
  color: rgba(200, 200, 255, 0.7);
}

/* Stylowanie ikon */
.icon {
  width: 24px;
  height: 24px;
}

.dark-mode .icon {
  filter: brightness(0) invert(1);
}

/* Dodanie animacji */
.light-mode .theme-toggle #sunny {
  display: block;
  animation: sunny-down 0.5s ease forwards;
}

.dark-mode .theme-toggle #moon {
  display: block;
  animation: moon-up 0.5s ease forwards;
}

/* Keyframes animacji */
@keyframes sunny-down {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes moon-up {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Stylowanie ikon */
.icon {
  width: 24px;
  height: 24px;
}

.dark-mode .icon {
  filter: brightness(0) invert(1);
}

/* Klawiatura */
.keyboard {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

.keyboard .key {
  background-color: var(--key-background-light);
  padding: 15px 0;
  border-radius: 10px;
  font-size: 1.2rem;
  text-align: center;
  cursor: pointer;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 400ms ease;
}

.keyboard .key.large {
  grid-column: span 2;
  height: 60px;
}

.keyboard .key:nth-child(12) {
  background-color: #b3d9ff;
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
}

.keyboard .key:nth-child(8) {
  background-color: #fff3b3;
  color: black;
  font-weight: bold;
  font-size: 1.5rem;
}

.keyboard .key:nth-child(4) {
  background-color: #ffc1b3;
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
}

.keyboard .key:last-child {
  background-color: var(--key-active-light);
  color: #fff;
}

.keyboard .key:hover {
  background-color: var(--key-hover-light);
}

.dark-mode .key {
  background-color: var(--key-background-dark);
}

.dark-mode .key:hover {
  background-color: var(--key-hover-dark);
}

.dark-mode .key:last-child {
  background-color: var(--key-active-dark);
  color: #939393;
}

.keyboard .key:nth-child(12):hover {
  background-color: #99c2e6;
}

.keyboard .key:nth-child(8):hover {
  background-color: #e6d29c;
}

.keyboard .key:nth-child(4):hover {
  background-color: #e6b2a6;
}

.keyboard .key.large#submit-transaction:hover {
  background-color: #333333;
}

/* Modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  z-index: 1000;
}

.modal-content {
  background-color: var(--modal-background-light);
  padding: 20px;
  border-radius: 10px;
  position: relative;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  transform: scale(0.9);
  opacity: 0;
  width: 100%;
  max-width: 500px;
  height: 600px;
  z-index: 1000;
}

.amount-display {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.modal.show .modal-content {
  transform: scale(1);
  opacity: 1;
}

.dark-mode .modal-content {
  background-color: var(--modal-background-dark);
}

.close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 2rem;
  font-weight: bold;
  color: #333;
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  line-height: 1;
  transition: color 0.3s ease;
}

.close-btn:hover {
  color: #000;
}

.dark-mode .close-btn {
  color: #ffffff;
}

/* Przycisk modala */
.modal-button {
  background-color: var(--modal-button-light);
  color: var(--text-light);
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 1rem;
  cursor: pointer;
  width: 100%;
  margin-top: 20px;
  transition: background-color 0.3s ease, color 0.3s ease;
  text-align: center;
}

.modal-button:hover {
  background-color: #333;
}

.dark-mode .modal-button {
  background-color: var(--modal-button-dark);
  color: var(--text-dark);
}

/* Stylowanie sekcji portfela */
.wallet-type-switch {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.wallet-button {
  background-color: transparent;
  border: none;
  padding: 10px 20px;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 20px;
  margin: 0 10px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.wallet-button.active {
  background-color: var(--wallet-button-active-light);
  color: #fff;
}

.wallet-button:hover {
  background-color: #000000;
  color: #fff;
}

.dark-mode .wallet-button:hover {
  background-color: #3b3b3b;
  color: #fff;
}

.dark-mode .wallet-button.active {
  background-color: var(--wallet-button-active-dark);
  color: var(--text-dark);
}

.dark-mode .wallet-button {
  color: var(--text-dark);
}

#wallet-balance {
  font-size: 3rem;
  font-weight: bold;
  color: var(--box-text-light);
}

#wallet-message {
  font-size: 1.2rem;
  font-weight: normal;
  color: var(--box-text-light);
}

/* Stylowanie typu transakcji */
.transaction-type-switch {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.transaction-type-switch button {
  background-color: transparent;
  border: none;
  padding: 10px 20px;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 20px;
  margin: 0 10px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.transaction-type-switch button.active {
  background-color: var(--transaction-type-active-light);
  color: #fff;
}

.dark-mode .transaction-type-switch button.active {
  background-color: var(--transaction-type-active-dark);
  color: var(--text-dark);
}

.dark-mode .transaction-type-switch button:not(.active) {
  color: #777;
}

/* Wybór daty */
.date-selector input[type="date"] {
  margin-top: 5px;
  width: 100%;
  padding: 5px;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid var(--border-light);
  background-color: var(--background-light);
  color: var(--text-light);
  display: none;
}

.date-display {
  cursor: pointer;
  padding: 5px;
  border: 1px solid var(--border-light);
  background-color: var(--background-light);
  color: var(--text-light);
  border-radius: 5px;
  text-align: center;
  font-size: 1rem;
}

.date-item {
  font-size: 1rem;
  text-align: center;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 10px;
  transition: background-color 0.3s, color 0.3s;
}

.date-item.selected {
  background-color: var(--date-item-selected-light);
  color: var(--text-light);
}

.dark-mode .date-item.selected {
  background-color: var(--date-item-selected-dark);
  color: var(--text-dark);
}

/* Wybór ikony i opis */
.transaction-info {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.transaction-info img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

#transaction-icon {
  margin-right: 10px;
  padding: 5px;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.dark-mode #transaction-icon {
  background-color: #333;
  color: #ffffff;
  border: 1px solid #555;
}

#transaction-description {
  width: 50%;
  padding: 5px;
  font-size: 0.9rem;
  border-radius: 5px;
  border: 1px solid #000000;
  box-sizing: border-box;
}

.dark-mode #transaction-description {
  background-color: #333;
  color: #ffffff;
  border: 1px solid #555;
}

/* Stylowanie dla strony wykresów */
#chart-message {
  font-size: 1.2rem;
  font-weight: normal;
  color: var(--box-text-light);
}
.chart-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  margin: 20px 0;
}

.chart-container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.legend-icon img {
  width: 30px;
  height: 30px;
}

.dark-mode .legend-icon {
  filter: brightness(0) invert(1);
}

.legend-details {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.legend-details span {
  font-size: 0.9em;
}

.dark-mode .legend-item {
  background-color: var(--box-background-dark);
  color: var(--text-dark);
  border: 1px solid var(--border-dark);
}

.dark-mode .legend-item:hover {
  background-color: #333;
}

.legend-item.strike-through {
  text-decoration: line-through;
  opacity: 0.5;
}
#chart-legend {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
  gap: 10px;
}

/* Legend item styles */
.legend-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 100%;
  max-width: 200px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.legend-item:hover {
  background-color: #eaeaea;
}

/* Media query for large screens (more than 1024px) */
@media (min-width: 1024px) {
  #chart-legend {
    justify-content: flex-start;
  }
}

/* Media query for small screens (less than 768px) */
@media (max-width: 768px) {
  .legend-item {
    width: calc(100% - 10px);
  }
}

/* Dostosowanie dla mniejszych ekranów */
@media (max-width: 375px) {
  .keyboard {
    max-width: 90%;
  }

  .keyboard .key {
    font-size: 1.2rem;
    height: 60px;
  }
}

/* Dostosowanie dla większych ekranów */
@media (min-width: 768px) {
  .keyboard {
    max-width: 450px;
  }

  .keyboard .key {
    font-size: 1.8rem;
  }
}

/* Ogólne ustawienia dla każdej sekcji strony */
.page {
  display: none;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.page.active {
  display: flex;
}

.page main {
  flex-grow: 1;
  overflow-y: auto;
  padding-bottom: 60px;
}

#home-page .transaction-section,
#wallet-page .transaction-section {
  flex-grow: 1;
  overflow-y: auto;
  margin-bottom: 60px;
  padding-bottom: 20px;
}

/* Styl dla kwoty przychodów */
.income-amount {
  color: green;
  font-weight: bold;
}

/* Styl dla kwoty wydatków */
.expense-amount {
  color: red;
  font-weight: bold;
}

.transaction-date-header {
  font-weight: bold;
  margin: 15px 15px 5px 15px;
  padding: 5px;
  background-color: var(--transaction-date-light);
  border-radius: 5px;
}

.dark-mode .transaction-date-header {
  background-color: var(--transaction-date-dark);
}

/* Kluczowe animacje */
@keyframes rotateToDisappear {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(20px);
  }
}

@keyframes appears {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (hover: none) and (pointer: coarse) {
  *:hover {
    cursor: default;
  }
  .theme-toggle #sunny,
  .theme-toggle #moon {
    animation: none !important;
  }
  ion-icon {
    transition: none !important;
  }

  .theme-toggle:hover ion-icon {
    color: var(--nav-button-light) !important;
  }
  .dark-mode .theme-toggle:hover ion-icon {
    color: var(--nav-button-dark) !important;
  }
  @keyframes sunny-down {
    0% {
      opacity: 1;
      transform: none;
    }
    100% {
      opacity: 1;
      transform: none;
    }
  }

  @keyframes moon-up {
    0% {
      opacity: 1;
      transform: none;
    }
    100% {
      opacity: 1;
      transform: none;
    }
  }
}

@media (max-width: 768px) {
  .nav-button,
  .theme-toggle {
    transform: none !important;
    transition: none !important;
  }

  .nav-button.large {
    transform: none !important;
  }
}
